{{#*inline "body"}}
<div class="gh-outer">
<main class="site-main gh-inner">

    {{#if @root.custom.show_featured_posts}}
        {{> partials/featured-posts}}
    {{/if}}

    {{#get "tags" limit="all"}}
    <div class="topic-feed">

        {{#foreach tags}}
            <section class="topic">
                <header class="topic-header">
                    <h2 class="topic-name">
                        <a href="/{{slug}}">{{name}}</a>
                    </h2>
                </header>
                {{#get "posts" order="published_at asc" filter="tag:{{slug}}" limit="5" as |featured|}}
                    <ul class="topic-article-feed">
                        {{#foreach featured}}
                        <li class="topic-article">
                            <h3 class="topic-article-title">
                                <a class="topic-article-link" href="/{{slug}}">
                                    {{> partials/icons/chevron-right}} {{title}}
                                </a>
                            </h3>
                        </li>
                        {{/foreach}}
                    </ul>
                {{/get}}
                <a class="topic-more" href="/{{slug}}">Show more →</a>
            </section>
        {{/foreach}}

    </div>
    {{/get}}

</main>
</div>
{{/inline}}
{{> default}}